:root{
    --primary:#2fc7d8;
    --primary-light:#dff9fc;
    --dark:#1f1f1f;
    --white:#ffffff;
    --gray:#777;
    --bg:#eef7f9;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

.dashboard{
    display:flex;
    width:100vw;
    height:100vh;
    background:#f7f9fb;
}

/* SIDEBAR */

.logo{
    position: relative;
    z-index: 9999;
}

.logo{
    margin-bottom:50px;
    padding-left:10px; 
}

.logo h2{
    font-size:28px;
    white-space:nowrap;
    overflow:visible;
}

.dark{
    color:#1f1f1f;
}

.blue{
    color:#2fc7d8;
    background:none !important;
    display:inline !important;
    padding:0 !important;
}

.menu{
    list-style:none;
}

.menu li{
    display:flex;
    align-items:center;
    gap:14px;
    padding:15px 18px;
    margin-bottom:12px;
    border-radius:14px;
    cursor:pointer;
    transition:0.3s;
    font-size:17px;
    font-weight:500;
    color:#555;
}

.menu li:hover{
    background:#dff9fc;
    color:#2fc7d8;
}

.menu li.active{
    background:#2fc7d8;
    color:white;
}

/* MAIN CONTENT */

.main-content{
    margin-left:0;
    width:100%;
}

/* TOPBAR */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.topbar h1{
	margin-left:20px;
    font-size:46px;
    color:#1f1f1f;
}

.topbar p{
	margin-left:20px;
    color:#777;
    margin-top:5px;
}

.search-box{
    width:330px;
    background:white;
    padding:14px 18px;
    border-radius:15px;
    display:flex;
    align-items:center;
    gap:10px;
    box-shadow:0 3px 12px rgba(0,0,0,0.05);
}

.search-box i{
    color:#2fc7d8;
}

.search-box input{
    width:100%;
    border:none;
    outline:none;
    font-size:15px;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    margin-bottom:35px;
}

.card{
    background:white;
    padding:28px;
    border-radius:22px;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.card h4{
    color:#8a8a8a;
    margin-bottom:12px;
}

.card h2{
    font-size:38px;
    margin-bottom:12px;
}

.card span{
    color:#2fc7d8;
}

.icon{
    width:62px;
    height:62px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    color:white;
}

.green,
.blue,
.orange{
    background:#2fc7d8;
}

/* CHART */

.chart-section{
    background:white;
    padding:30px;
    border-radius:22px;
    margin-bottom:35px;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.chart-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.chart-header h3{
    font-size:28px;
}

.chart-header select{
    padding:10px 15px;
    border-radius:12px;
    border:1px solid #ddd;
    outline:none;
}

#salesChart{
    width:100% !important;
    height:350px !important;
}

/* PRODUCTS */

.products-section{
    background:white;
    padding:30px;
    border-radius:22px;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.products-section h3{
    font-size:28px;
    margin-bottom:25px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.product-card{
    background:#fafafa;
    padding:18px;
    border-radius:18px;
    text-align:center;
    transition:0.3s;
}

.product-card:hover{
    transform:translateY(-5px);
}

.product-card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:14px;
    margin-bottom:15px;
}

.product-card h4{
    font-size:19px;
    margin-bottom:8px;
}

.product-card p{
    color:#2fc7d8;
    font-size:18px;
    font-weight:600;
}