body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container {
  padding: 32px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input,
button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

button:active {
  font-size: 18px;
}
