/*
An element with width: 100% might still cause a horizontal scroll if you apply margin, padding, or border without using box-sizing: border-box. 
By default (box-sizing: content-box), makes the total element width 100% + padding/border.
Use box-sizing: border-box on element or universally!!
*/

@import url("main.css");

:root {
  --color-bg-header: #f4f4f4;
  --color-border-light: #ddd;
  --color-navbar-bg: #222;
  --color-footer-bg: #111;

  --color-text-dark: #333;
  --color-text-light: #ffffff;

  --color-button-border: #333;
  --color-button-hover-bg: #333;
  --color-button-delete: rgba(255, 0, 0);
}

/* the main contents change here*/
.content {
  flex: 1; /*as  container height is defined */
  padding: 10px;
  max-width: 100%; /* max-width prevents horzontal scroll bar*/
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box; /*When max and width are same, due to box model width> max-width so scroll. change to border-box*/
}

.search {
  text-align: center;
}

.topicContainer {
  border: 1px solid var(--color-border-light);
  margin: 15px auto;
  padding: 12px 45px;
  display: flex;
  flex-direction: column;
  min-width: 40%;
  min-height: 50%;
}

.topicItem {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  padding: 5px;
}

.topicItem label {
  padding: 15px 0px 0px 0px;
}

.topicItem input {
  font-size: large;
  padding: 5px;
  flex: 1;
}

.submit {
  text-align: center;
}

/* attribute selector */
.submit button[type="submit"] {
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid var(--color-button-border);
  color: var(--color-text-dark);
}

.submit button[type="submit"]:hover {
  background-color: var(--color-button-hover-bg);
  color: var(--color-text-light);
}

@media (max-width: 700px) {

  
  .topicItem {
    flex-wrap: wrap;
  }
  .topicItem label {
    display: none;
  }
}
